*
{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 145, 88);
}

body
{
    font-family: "Berkshire Swash";    
}

#ghost
{
    position: relative;
    background-color: black;
    width: 70px;
    animation-name: glide;
    animation-duration: 2s;
}

@keyframes glide
{
    0% {left: 0px;}
    50% {left: -200px;}
    100% {left: 0px;}
}

#ghost2
{
    position: relative;
    background-color: black;
    width: 70px;
    animation-name: glide2;
    animation-duration: 2s;    
}

@keyframes glide2
{
    0% {right: 0px;}
    50% {right: -200px;}
    100% {right: 0px;}
}

.column
{
    float: left;
    width: 18%;
    border-left-style: solid;
    border-left-color: rgb(249, 93, 2);
    border-left-width: thick;
    padding-left: 15px;
}

.rImage
{
    width: 150px;
}

.rImage:hover
{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    cursor: pointer;
}

.list
{
    list-style-type: none;
}

.toDoList
{
    font-family: "Caveat Brush";
}

.checkbox
{
    border: none;
    width: 20px;
    height: 20px;
    background-color: purple;
}

h1
{
    text-align: center;
    color: rgb(249, 93, 2);
    background-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: rgb(249, 93, 2);
    border-top-color: rgb(249, 93, 2);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
}

.input
{
    border: solid purple;
    background-color: white;
    height: 20px;
    font-family: "Berkshire Swash";
}

.submit
{
    cursor: pointer;
    border: none;
    height: 40px;
    width: 120px;
    background-color: purple;
    color: white;
    font-family: "Berkshire Swash";
    font-size: 18px;
}

.submit:hover
{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

audio
{
    display: none;
}

iframe
{
    display: none;
}







